.output {
  text-align: justify;
  float: left;
  width: 40%;
  height: 85vh;
  border: 2px solid #b60d0d;
  padding: 40px 20px;
  margin: 10px;
  background-color: #fff;
  overflow: scroll;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}
